<h1>Welcome</h1>
<a href="/people" class="button col-2">People</a>
<a href="/courses" class="button col-2">Courses</a>
<a href="/projects" class="button col-2">Projects</a>
<a href="/thesis" class="button col-2">Thesis</a>
<a href="/favorites" class="button col-2">Favorites</a>
